<!DOCTYPE HTML>
<html>
<head>
	<title>Stock market app</title>
  <script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
	<script type="text/javascript">
		var socket = io();
	</script>
</head>
<body>
	Hello
</body>
</html>