<!DOCTYPE HTML>
<html>
	<head>
		<title>stock-exchange</title>
 	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	
	<link href="/public/css/main.css" rel="stylesheet" type="text/css">
	</head>
	<body style="background-color: black">
		<form action="/login" method="post" style="padding-top: 100px;text-align: center;" class="input input-lg">
			<input type="text" name="email" placeholder="Email" style="text-align: center;width: 200px;border-width: 2px;">
		</form>
		<p style="color: white;">Hi , Please put in your email id to login</p>
	</body>
</html>