input{
	border-radius: 5px;
	border-color: white;
	border-width: 2px;
	width: 100px;
	height: 30px;
}
input:hover{
	opacity: 100;
}
input,select,textarea{
	font-style: Arial;
	text-transform: uppercase;
}
span:hover{
	color:red;
	pointer:cursor;
}
.button_container{
	text-align: center;
}
.hidden{
	position:fixed;
	z-index=1;
	width:100%;
	height:100%;
	overflow:auto;
	padding-top: 100px;
	left: 0;
	top: 0;
	background-color: rgb(0,0,0);
	background-color: rgba(0,0,0,0.4);
}